<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.danielsh.alfred.things</string>
	<key>connections</key>
	<dict>
		<key>3EEF5217-86CB-42AB-AE8A-42B54B672E82</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB86BAFD-6FE7-443D-9DE9-0DD80667FB1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AB86BAFD-6FE7-443D-9DE9-0DD80667FB1E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8363DB3F-21AA-4833-ACCF-3CF04F2FE077</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Daniel Shannon</string>
	<key>description</key>
	<string>Search, edit, and add to-dos.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Things</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>python act.py {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>AB86BAFD-6FE7-443D-9DE9-0DD80667FB1E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>things</string>
				<key>script</key>
				<string>./ThingsWorkflow "{query}"</string>
				<key>subtext</key>
				<string>Search, add, or edit Things tasks.</string>
				<key>title</key>
				<string>Things Tasks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3EEF5217-86CB-42AB-AE8A-42B54B672E82</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Things</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8363DB3F-21AA-4833-ACCF-3CF04F2FE077</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3EEF5217-86CB-42AB-AE8A-42B54B672E82</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>8363DB3F-21AA-4833-ACCF-3CF04F2FE077</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>AB86BAFD-6FE7-443D-9DE9-0DD80667FB1E</key>
		<dict>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://alfred.daniel.sh</string>
</dict>
</plist>
